<!doctype html>
<html class="no-js" lang="{{ lang or 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>Hyan Mandian{{ ' | ' + title if title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ '/styles/index.css' | url }}" rel="stylesheet"/>
  </head>
  <body class="{{ (title or 'home') | slug }}">
    {% include "partials/header.njk" %}

    <main id="main">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}

    <script src="{{ '/scripts/index.js' | url }}" defer="defer"></script>
  </body>
</html>
