<!doctype html>
<html class="no-js" lang="{{ lang or 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>Hyan Mandian | {{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="styles/index.css" rel="stylesheet"/>
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    <script src="scripts/index.js" defer="defer"></script>
  </body>
</html>
