---
class: post
layout: base
---
<section class="hero">
  <div class="container">
    <p>
      <time datetime="{{ page.date | htmlDate }}">{{ page.date | humanDate }}</time> -
      4 min read
    </p>

    <h1>{{ title }}</h1>
  </div>
</section>

<section class="container">
  {{ content | safe }}
</section>
