---
title: Home
layout: base
permalink: index.html
---

<section class="intro">
  <div class="container">
    <div class="content">
      <h1>Hello. <br/>I'm Hyan</h1>
      <p>Dedicated and passionate brazilian software engineer who believes that the only way to learn is by sharing knowledge. </p>
    </div>
    <nav class="social">
      <a href="/github" class="item">/github</a>
      <a href="/linkedin" class="item">/linkedin</a>
    </nav>
  </div>
</section>
