<footer class="footer">
  <div class="container">
    <p>Hyan Mandian © 2020</p>

    <div class="social">
      <a href="https://linkedin.com/in/hyanmandian/">/linkedin</a>
      <a href="https://github.com/hyanmandian">/github</a>
      <a href="{{ '/feed.xml' | url }}">/feed</a>
    </div>
  </div>
</footer>
