<footer class="footer">
  <div class="container">
    <p>Hyan Mandian © 2020</p>

    <div class="social">
      <a aria-label="Visit my Linkedin" href="https://linkedin.com/in/hyanmandian/">/linkedin</a>
      <a aria-label="Visit my Github" href="https://github.com/hyanmandian">/github</a>
      <a aria-label="Subscribe to my RSS Feed" href="{{ '/feed.xml' | url }}">/feed</a>
    </div>
  </div>
</footer>
