<header class="header">
  <a href="{{ '/' | url }}" class="item">/</a>

  <nav class="menu">
    <a href="{{ '/blog' | url }}" class="item">/blog</a>
    <a href="{{ '/about' | url }}" class="item">/about</a>
    <a href="{{ '/projects' | url }}" class="item">/projects</a>
  </nav>
</header>
