<header class="header">
  <div class="container">
    <a tabindex="0" aria-hidden="false" href="#main">Skip to main content</a>

    <a href="{{ '/' | url }}">/</a>

    <nav class="menu">
      <a href="{{ '/blog' | url }}">/blog</a>
      <a href="{{ '/about' | url }}">/about</a>
      <a href="{{ '/projects' | url }}">/projects</a>
    </nav>
  </div>
</header>
