<header class="header">
  <div class="container">
    <a tabindex="0" href="#main">Skip to main content</a>

    <a aria-label="Go to homepage" href="{{ '/' | url }}">/hyan</a>

    <nav class="menu">
      <a aria-label="View blog page" href="{{ '/blog' | url }}">/blog</a>
      <a aria-label="View about page" href="{{ '/about' | url }}">/about</a>
      <a aria-label="View projects page" href="{{ '/projects' | url }}">/projects</a>
    </nav>
  </div>
</header>
