---
layout: base
description: Dedicated and passionate brazilian software engineer who believes that the only way to learn is by sharing knowledge.
---

<section class="intro">
  <div class="container">
    <div class="content">
      <h1>Hello, <br/>I'm Hyan</h1>
      <p>Dedicated and passionate brazilian software engineer who believes that the only way to learn is by sharing knowledge.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Latest posts</h2>
  </div>
</section>
