.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  border-bottom: 1px solid white;
  width: 100%;
  top: 0;
  height: var(--header-height);
}

.header > .menu > .item:not(:last-child) {
  margin-right: 8px;
}
