.home section:not(:first-child) {
  margin-top: calc(var(--baseline) * 5);
}

.home section h2 {
  margin: 0;
}

.home .intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .intro h1 {
  margin: 0 0 var(--baseline) 0;
  font-size: var(--font-size-xlg);
  line-height: 1.1;
}

.home .intro p {
  margin: 0;
  font-size: var(--font-size-lg);
}

.home .intro .content {
  border: 1px solid var(--primary-color);
  padding: calc(var(--baseline) * 2);
}
