[data-page="projects"] section h2,
[data-page="projects"] section p {
  margin: 0;
}

[data-page="projects"] section a {
  display: block;
  border: 1px solid;
  padding: var(--baseline);
}

[data-page="projects"] section article:not(:last-child) {
  margin-bottom: var(--baseline);
}
